html{
    height: 100%;
    width: 100%;
    margin: 0%;
}

body{
    margin: 0%;
    background-color: #e0e0e0;
    font-family: 'Ubuntu', sans-serif;
    overflow-x: hidden;
    position: relative;
}

.main-container{
    height: 100%;
    width: 100%;
}

header img{
    height: 60px;
    width: 60px;
    vertical-align: middle;
    margin-left: 1%;
}

header a{
    margin-left: 1%;
    margin-right: 2%;
}

header .login{
    vertical-align: middle;
    margin-right: 2%;
}

header{
    background-color: rosybrown;
    width: 100%;
    z-index: 1;
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
}

header a{
    text-decoration: none;
    color: black;
}

footer img{
    height: 20px;
    width: 22px;
}

footer .icons{
    vertical-align: middle;
}

.icons{
    display: inline-block;
    margin-right: 2%;
}

.icons a{
    text-decoration: none;
}

footer{
    background-color: rosybrown;
    position: sticky;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1% 0;
}

footer .copy-right{
    font-size: 10px;
    text-align: center;
}

footer .contact{
    vertical-align: middle;
    margin-left: 2%;
}

.contact a{
    text-decoration: none;
    color: black;
}

.details-heading{
    font-family: cursive;
    font-weight: bold;
}