.description{
    margin: 1% 4% 2% 2%;
}

.part-1{
    display: flex;
    max-height: 400px;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid black;
    margin: 2%;
}

.image{
    text-align: center;
    margin: 1% auto;
}

.content img{
    width: 500px;
    max-height: 350px;
    height: 350px;
}

.details{
    width: 20%;
    border-left: 1px solid;
    
}

.details form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 7% 2%;
    max-height: 400px;
}

body .details form .input{
    display: flex;
    justify-content: space-between;
    padding:3%;
}

body .details form .input input{
    width: 60%;
}

.a{
    display: contents;
}

.book-now{
    text-align: center;
}

.book-now input{
    margin-top: 5%;
    padding: 2%;
}

.prev-icon,.next-icon{
    color:rosybrown;
    font-size: 55px;
    background-image: none;
}