.content img{
    height: 150px;
    width: 150px;
}

.content{
    padding-top: 60px;
}

.box{
    background-image: url("https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg");
    background-position: center;
    height: 380px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.search-bar {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    max-width: 380px;
    width: 100%;
}

.search-bar input{
    border: 1px solid transparent;
    background-color:#f1f1f1;
    padding: 10px;
    font-size: 16px;
    border-radius:12px;
    width: 100%;
}

.city-cards{
    margin: auto 15%;
    text-align: center;
}

.city-cards img{
    padding: 4%;
    border-radius: 25%;
}

.city-cards a{
    text-decoration: none;
}

.view-more{
    text-align: center;
    padding: 0% 0% 2% 0%;
}

.view-more a{
    text-decoration: none;
    color:black;
}