.content img{
    height: 150px;
    width: 150px;
}

.box{
    background-image: url("https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg");
    background-position: center;
    height: 380px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.search-bar {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    max-width: 380px;
    width: 100%;
}

.search-bar input{
    border: 1px solid transparent;
    background-color:#f1f1f1;
    padding: 10px;
    font-size: 16px;
    border-radius:12px;
    width: 100%;
    outline: none;
}

.city-cards{
    padding: 3%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.city-cards img{
    height: 150px;
    width: 150px;
}

.city-cards a{
    text-decoration: none;
}

.city-cards img{
    border-radius: 25%;
    box-shadow: 10px 10px 10px grey;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2; 
    border-radius: 25%;
    display: none;
}

.title{
    position: absolute;
    bottom: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    z-index: 2;
    color: #f1f1f1;
    display: none;
}

.images{
    position: relative;
    margin: 10px;
}


.images:hover .title{
    display: block;
}

.images:hover .overlay{
    display: block;
}

.view-more{
    text-align: center;
    padding: 0% 0% 2% 0%;
}

.view-more a{
    text-decoration: none;
    color:black;
}

@media only screen and (max-width :576px){
    .search-bar{
        width: 50%;
    }

    .city-cards {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-content: center;
        flex-wrap: wrap;
    }
}

