.img{
    height: 200px;
    width: 250px;
}

.hotels{
    background-color:lightgrey;
    margin: 2% 4%;
    width: 40%;
    height: 200px;
}

.hotels:hover{
    background-color: rosybrown;
    transition: .1s ease;
}

.details{
    display: flex;
    flex-direction: row;
}

.description{
    padding:3%;
    padding-right: 1%;
}

.image{
    margin-right: 2%;
}

#list-view{
    display: flex;
    flex-wrap: wrap;
}

.hotels a{
    text-decoration: none;
    color: black;
}

.views ul{
    text-align: center;
}

.views li{
    display: inline-block;
    font-weight: bold;
    padding-right: 50px;
}

.views a{ 
    text-decoration: none;
    color: black;
} 

#map-view img{
    margin: 0 auto;
    padding: 0 15px;
}

.content{
    padding-bottom: 5%;
}

.views {
    margin-top: 2%;
}
