section img{
    height: 200px;
    width: 250px;
}

#list-view div{
    margin: 2%;
    background-color: rgb(132,136,139);
    width: 40%;
}

div{
    display: block;
}

.content .views {
    position: relative;;
}

.content{
    padding-top: 70px;
}

.content .views ul li {
    display: inline;
    padding: 0 20px;
}
.content .views ul li a{
    text-decoration: none;
    color:black;
    font-weight: bold;
}

.content .views ul{
    list-style: none;
    text-align: center;
    margin:0 auto;
    padding: 0;
}

#map-view{
    visibility: hidden;
    display: none;
}

.details a{
    text-decoration: none;
    color: black;
}